<a href="#rep" class="menu" data-0="opacity:0;z-index:0;" data-100p="opacity:1;z-index:10000;" data-200p="opacity:0;z-index:0;" data-menu-top="200p"> NEXT PROJECT</a>
<a href="#top" class="menu" data-0="opacity:0;z-index:0;" data-100p="opacity:0;z-index:0;" data-200p="opacity:1;z-index:10000;" data-menu-top="0p"> BACK TO TOP</a>

<div id="skrollr-body">
	<div class="background-img" id="top">
		<div class="overlay"></div>
		<img src=<%=asset_path "me2blurredforwebmedium.jpg"%>>
	</div>

	<div class="title"> Hi I'm Terence!</div>

	<div class="description">
		<div class="non-mobile"> I build things I think are awesome!</div> 
		<div class="non-mobile">Check out some things I've worked on</div>
		<div class="mobile">I build things. Check it out!</div>
		<a href="#icebreaker" data-menu-top="100p">
			<div class="project">
				<i class="fa fa-heart"></i>IceBreaker
			</div>
		</a>
		
		<a href="#rep" data-menu-top="200p">
			<div class="project">
				<i class="fa fa-building-o"></i>REP 
			</div>
		</a>
		
	</div>

	<div class="connect"> Connect with me!</div>

	<div class= "icons">
		<a href="https://twitter.com/TerencesTweets">
			<i class="fa fa-twitter"></i>
		</a>
		<a href="http://ca.linkedin.com/pub/terence-chow/68/778/190/">
			<i class="fa fa-linkedin-square"></i>
		</a>
		<a href="https://github.com/chowza">
			<i class="fa fa-github"></i>
		</a>
		<a href="mailto:terence.chow.1986@gmail.com">
			<i class="fa fa-envelope-o"></i>
		</a>
	</div>

	<div id="icebreaker">
		<div class="project-header">
			<h1>
				ICEBREAKER.
			</h1>
		</div>
		<div class="project-description">
			A dating app where matches expire in 24 hours. 
			<br>
			<br>
			Built with Cordova (PhoneGap), HTML5, CSS, Javscript, AngularJS, Ionic Framework, Rails &#38; Posgresql
		</div>
		
			<a class="left-arrows" id="left-arrow" href="#icebreaker">
				<i class="fa fa-arrow-circle-left" onclick='showLeftIBScreenshots();return false;'></i>
			</a>
			<a class="right-arrows" id="right-arrow" href="#icebreaker">
				<i class="fa fa-arrow-circle-right" onclick='showRightIBScreenshots();return false;'></i>
			</a>
		
		
		<div class="project-screenshots">
			

			<img id="image_1" src=<%= asset_path "ibv2_login.jpg"%>>	
			<img id="image_2" src=<%= asset_path "ibv2_cards.jpg"%>>
			<img id="image_3" src=<%= asset_path "ibv2_menu.jpg"%>>
			<img id="image_4" src=<%= asset_path "ibv2_choosepics.jpg"%>>
			<img id="image_5" src=<%= asset_path "ibv2_facebookpics.jpg"%>>
			<img id="image_6" src=<%= asset_path "ibv2_crop.jpg"%>>
			<img id="image_7" src=<%= asset_path "ibv2_settings.jpg"%>>
			<img id="image_8" src=<%= asset_path "ibv2_match.jpg"%>>
			<img id="image_9" src=<%= asset_path "ibv2_chat.jpg"%>>
			<img id="image_10" src=<%= asset_path "ibv2_rate.jpg"%>>

			<!-- 
			<img id="image_1" src=<%= asset_path "loginhigh.jpg"%>>	
			<img id="image_2" src=<%= asset_path "profilehigh.jpg"%>>
			<img id="image_3" src=<%= asset_path "settingshigh.jpg"%>>
			<img id="image_4" src=<%= asset_path "choose_photoshigh.jpg"%>>
			<img id="image_5" src=<%= asset_path "click_imageshigh.jpg"%>>
			<img id="image_6" src=<%= asset_path "availabilityhigh.jpg"%>>
			<img id="image_7" src=<%= asset_path "cardshigh.jpg"%>>
			<img id="image_8" src=<%= asset_path "popuphigh.jpg"%>>
			<img id="image_9" src=<%= asset_path "matcheshigh.jpg"%>>
			<img id="image_10" src=<%= asset_path "chathigh.jpg"%>> -->
		</div>
		<div class="left-margin-screenshot-blocker">
			
		</div>
		<div class="right-margin-screenshot-blocker">
			
		</div>

	</div>

	<div id="rep">
		<div class="project-header">
			<h1> R.E.P
			</h1>
		</div>
		<div class="project-description">
			A web app providing Real Estate Prices to buyers and sellers.
		<br>
		<br>
			Built with Rails using Google Map API, Gmail Data Scraping, and an Automatic E-mailer
		</div>
		
			
		<div class="project-screenshots">
			<img id="rep_2" src=<%= asset_path "rep2medium.jpg"%>>
			<img id="rep_3" src=<%= asset_path "rep3medium.jpg"%>>
		</div>
		<div class="bottom-arrows">
			<a id="left-arrow-rep" href="#rep">
				<i class="fa fa-arrow-circle-left" onclick='showLeftREPScreenshots();return false;'></i>
			</a>
			<a id="right-arrow-rep" href="#rep">
				<i class="fa fa-arrow-circle-right" onclick='showRightREPScreenshots();return false;'></i>
			</a>
		</div>
		<div class="left-margin-screenshot-blocker-rep">
			
		</div>
		<div class="right-margin-screenshot-blocker-rep">
		</div>
	</div>
</div>