<a href="#rep" class="menu"> NEXT PROJECT</a>
<a href="#top" class="menu"> BACK TO TOP</a>

<a href="#rep" id="down-arrow" class="mobile-menu"> 
	<i class="fa fa-arrow-down"></i>
</a>
<a href="#top" id="up-arrow" class="mobile-menu"> 
	<i class="fa fa-arrow-up"></i>
</a>

<%= render "about" %>
<%= render "projects/icebreaker" %>
<%= render "projects/slsite" %>
<%= render "projects/highrise" %>
<%= render "projects/humber" %>
<%= render "projects/organic" %>
<%= render "projects/whateverlinda" %>
<%= render "projects/rep" %>
<%= render "linkedInEmbed" %>