<section id="eonemusic">
	<div class="sectionContainer">
		<div class="project-header">
			<h1>
				FLOODLIGHT - THE GAME - MAKING OF THE DOCUMENTARY 2
			</h1>
		</div>
		<div class="project-description">
			An online platform for promoting and selling products by musicians 
			<br>
			<br>
			Built with Gulp, Angular, Ecwid, Disqus, Jade &#38; SASS, using the Youtube API for video and Wordpress to pull in social feeds.
		</div>
		

		
		<div class="project-screenshots">
			<div class="project-screenshots-innerContainer">

				<img src=<%= asset_path "ibv2_login.jpg"%>>	
				<img src=<%= asset_path "ibv2_cards.jpg"%>>
				<img src=<%= asset_path "ibv2_menu.jpg"%>>
				<img src=<%= asset_path "ibv2_choosepics.jpg"%>>
				<img src=<%= asset_path "ibv2_facebookpics.jpg"%>>
				<img src=<%= asset_path "ibv2_crop.jpg"%>>
				<img src=<%= asset_path "ibv2_settings.jpg"%>>
				<img src=<%= asset_path "ibv2_matches.jpg"%>>
				<img src=<%= asset_path "ibv2_chat.jpg"%>>
				<img src=<%= asset_path "ibv2_rate.jpg"%>>
			</div>
			<a class="arrows left-arrows">
				<i class="fa fa-arrow-circle-left"></i>
			</a>
			<a class="arrows right-arrows">
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		
		</div>
		</div>
</section>