<section id="highrise">
<div class="sectionContainer">
		<div class="project-header">
			<h1>
				HIGHRISE
			</h1>
		</div>
		<div class="project-description">
			An award winning interactive experience about life in highrises around the world.
			<br>
			<br>
			Made with Grunt &#38; ThreeJS
		</div>
		

		
		<div class="project-screenshots">
			<div class="project-screenshots-innerContainer">

				<img src=<%= asset_path "compressed/universewithin1.jpg"%>>	
				<img src=<%= asset_path "compressed/universewithin2.jpg"%>>
				<img src=<%= asset_path "compressed/universewithin3.jpg"%>>
				<img src=<%= asset_path "compressed/universewithin4.jpg"%>>
				<img src=<%= asset_path "compressed/universewithin5.jpg"%>>
				<img src=<%= asset_path "compressed/universewithin6.jpg"%>>
				<img src=<%= asset_path "compressed/universewithin7.jpg"%>>
				<img src=<%= asset_path "compressed/universewithin8.jpg"%>>
			</div>
			<a class="arrows left-arrows">
				<i class="fa fa-arrow-circle-left"></i>
			</a>
			<a class="arrows right-arrows">
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		
		</div>
		</div>
</section>