<section id="humber">
<div class="sectionContainer">
		<div class="project-header">
			<h1>
				HUMBER CLINICAL TRIALS
			</h1>
		</div>
		<div class="project-description">
			An e-learning tool that simulates real clinical trials for students of Humber's Clinical Research program.
			<br>
			<br>
			Built with Gulp, Jade, Stylus, Jquery Waypoints, TweenMax &#38; Pixi.
		</div>
		

		
		<div class="project-screenshots">
			<div class="project-screenshots-innerContainer">

				<img src=<%= asset_path "compressed/humber1.jpg"%>>	
				<img src=<%= asset_path "compressed/humber2.jpg"%>>
				<img src=<%= asset_path "compressed/humber3.jpg"%>>
				<img src=<%= asset_path "compressed/humber4.jpg"%>>
				<img src=<%= asset_path "compressed/humber5.jpg"%>>
				<img src=<%= asset_path "compressed/humber6.jpg"%>>
				<img src=<%= asset_path "compressed/humber7.jpg"%>>
				<img src=<%= asset_path "compressed/humber8.jpg"%>>
				<img src=<%= asset_path "compressed/humber9.jpg"%>>
				<img src=<%= asset_path "compressed/humber10.jpg"%>>
				<img src=<%= asset_path "compressed/humber11.jpg"%>>
				<img src=<%= asset_path "compressed/humber12.jpg"%>>
				<img src=<%= asset_path "compressed/humber13.jpg"%>>
			</div>
			<a class="arrows left-arrows">
				<i class="fa fa-arrow-circle-left"></i>
			</a>
			<a class="arrows right-arrows">
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		
		</div>
		</div>
</section>