<section id="humber">
<div class="sectionContainer">
		<div class="project-header">
			<h1>
				HUMBER CLINICAL TRIALS
			</h1>
		</div>
		<div class="project-description">
			An internal e-learning tool that simulates real clinical trials for students of Humber's Clinical Research program.
			<br>
			<br>
			Built with Gulp, Jade, Stylus, Jquery Waypoints, TweenMax &#38; Pixi.
		</div>
		

		
		<div class="project-screenshots">
			<div class="project-screenshots-innerContainer">

				<%= image_tag "humber1.jpg" %>	
				<%= image_tag "humber2.jpg" %>
				<%= image_tag "humber3.jpg" %>
				<%= image_tag "humber4.jpg" %>
				<%= image_tag "humber5.jpg" %>
				<%= image_tag "humber6.jpg" %>
				<%= image_tag "humber7.jpg" %>
				<%= image_tag "humber8.jpg" %>
				<%= image_tag "humber9.jpg" %>
				<%= image_tag "humber10.jpg" %>
				<%= image_tag "humber11.jpg" %>
				<%= image_tag "humber12.jpg" %>
				<%= image_tag "humber13.jpg" %>
			</div>
			<a class="arrows left-arrows">
				<i class="fa fa-arrow-circle-left"></i>
			</a>
			<a class="arrows right-arrows">
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		
		</div>
		</div>
</section>