<div id="icebreaker">
		<div class="project-header">
			<h1>
				ICEBREAKER.
			</h1>
		</div>
		<div class="project-description">
			A dating app where matches expire in 24 hours. 
			<br>
			<br>
			Built with Cordova (PhoneGap), HTML5, CSS, Javscript, AngularJS, Ionic Framework, Rails &#38; Posgresql
		</div>
		
			<a class="left-arrows" id="left-arrow" href="#icebreaker">
				<i class="fa fa-arrow-circle-left" onclick='showLeftIBScreenshots();return false;'></i>
			</a>
			<a class="right-arrows" id="right-arrow" href="#icebreaker">
				<i class="fa fa-arrow-circle-right" onclick='showRightIBScreenshots();return false;'></i>
			</a>
		
		
		<div class="project-screenshots">
			<div class="project-screenshots-innerContainer">

				<img id="image_1" src=<%= asset_path "ibv2_login.jpg"%>>	
				<img id="image_2" src=<%= asset_path "ibv2_cards.jpg"%>>
				<img id="image_3" src=<%= asset_path "ibv2_menu.jpg"%>>
				<img id="image_4" src=<%= asset_path "ibv2_choosepics.jpg"%>>
				<img id="image_5" src=<%= asset_path "ibv2_facebookpics.jpg"%>>
				<img id="image_6" src=<%= asset_path "ibv2_crop.jpg"%>>
				<img id="image_7" src=<%= asset_path "ibv2_settings.jpg"%>>
				<img id="image_8" src=<%= asset_path "ibv2_matches.jpg"%>>
				<img id="image_9" src=<%= asset_path "ibv2_chat.jpg"%>>
				<img id="image_10" src=<%= asset_path "ibv2_rate.jpg"%>>
			</div>
		</div>
</div>