<section id="nerdicopter">
<div class="sectionContainer">
		<div class="project-header">
			<h1>
				NERDICOPTER &#38; MONSTER MAZE
			</h1>
		</div>
		<div class="project-description">
			One endless runner and one maze game made for the hit YTV children's show Nerds &#38; Monsters
			<br>
			<br>
			Built with Grunt, Phaser, Pixi, &#38; Howler.
		</div>
		

		
		
		<div class="project-screenshots">
			<div class="project-screenshots-innerContainer">

				<img src=<%= asset_path "ibv2_login.jpg"%>>	
				<img src=<%= asset_path "ibv2_cards.jpg"%>>
				<img src=<%= asset_path "ibv2_menu.jpg"%>>
				<img src=<%= asset_path "ibv2_choosepics.jpg"%>>
				<img src=<%= asset_path "ibv2_facebookpics.jpg"%>>
				<img src=<%= asset_path "ibv2_crop.jpg"%>>
				<img src=<%= asset_path "ibv2_settings.jpg"%>>
				<img src=<%= asset_path "ibv2_matches.jpg"%>>
				<img src=<%= asset_path "ibv2_chat.jpg"%>>
				<img src=<%= asset_path "ibv2_rate.jpg"%>>
			</div>
			<a class="arrows left-arrows">
				<i class="fa fa-arrow-circle-left"></i>
			</a>
			<a class="arrows right-arrows">
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
		</div>
</section>