<section id="organic">
<div class="sectionContainer">
		<div class="project-header">
			<h1>
				ORGANIC PANIC
			</h1>
		</div>
		<div class="project-description">
			A platform to switch between opposing debate videos to determine your stance on a topic
			<br>
			<br>
			Built with Gulp, Jade, Stylus, Angular and the Youtube API
			<br>
			<br>
			<a href="http://www.organicpanictv.com">www.organicpanictv.com</a>
		</div>

		
		<div class="project-screenshots">
			<div class="project-screenshots-innerContainer">

				<%= image_tag "organic1.jpg" %>	
				<%= image_tag "organic2.jpg" %>
				<%= image_tag "organic3.jpg" %>
				<%= image_tag "organic4.jpg" %>
				<%= image_tag "organic5.jpg" %>
				<%= image_tag "organic6.jpg" %>
				<%= image_tag "organic7.jpg" %>
			</div>

		
			<a class="arrows left-arrows">
				<i class="fa fa-arrow-circle-left"></i>
			</a>
			<a class="arrows right-arrows">
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		
		</div>
		</div>
</section>