<section id="organic">
<div class="sectionContainer">
		<div class="project-header">
			<h1>
				ORGANIC PANIC
			</h1>
		</div>
		<div class="project-description">
			A platform to switch between opposing debate videos to determine your stance on a topic
			<br>
			<br>
			Built with Gulp, Jade, Stylus, Angular and the Youtube API
		</div>

		
		<div class="project-screenshots">
			<div class="project-screenshots-innerContainer">

				<img src=<%= asset_path "compressed/organic1.jpg"%>>	
				<img src=<%= asset_path "compressed/organic2.jpg"%>>
				<img src=<%= asset_path "compressed/organic3.jpg"%>>
				<img src=<%= asset_path "compressed/organic4.jpg"%>>
				<img src=<%= asset_path "compressed/organic5.jpg"%>>
				<img src=<%= asset_path "compressed/organic6.jpg"%>>
				<img src=<%= asset_path "compressed/organic7.jpg"%>>
			</div>

		
			<a class="arrows left-arrows">
				<i class="fa fa-arrow-circle-left"></i>
			</a>
			<a class="arrows right-arrows">
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		
		</div>
		</div>
</section>