<section id="slsite">
<div class="sectionContainer">
		<div class="project-header">
			<h1>
				SECRET LOCATION
			</h1>
		</div>
		<div class="project-description">
			A website showcasing the company's best work. 
			<br>
			<br>
			Built with Gulp, Jade, SASS, Browserify, Skrollr, PIXI &#38; TweenMax
			<br><br>
			<a href="http://www.thesecretlocation.com">www.thesecretlocation.com</a>
		</div>
		

		
		<div class="project-screenshots">
			<div class="project-screenshots-innerContainer">

			
				<%= image_tag "sl1.jpg" %>	
				<%= image_tag "sl2.jpg" %>
				<%= image_tag "sl3.jpg" %>
				<%= image_tag "sl4.jpg" %>
				<%= image_tag "sl5.jpg" %>
				<%= image_tag "sl6.jpg" %>
				<%= image_tag "sl7.jpg" %>
			</div>
			<a class="arrows left-arrows">
				<i class="fa fa-arrow-circle-left"></i>
			</a>
			<a class="arrows right-arrows">
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
		</div>
</section>