<section id="slsite">
<div class="sectionContainer">
		<div class="project-header">
			<h1>
				SECRET LOCATION
			</h1>
		</div>
		<div class="project-description">
			A website showcasing the company's best work.
			<br>
			<br>
			Built with Gulp, Jade, SASS, Browserify, Skrollr, PIXI &#38; TweenMax
		</div>
		

		
		<div class="project-screenshots">
			<div class="project-screenshots-innerContainer">

				<img src=<%= asset_path "compressed/sl1.jpg"%>>	
				<img src=<%= asset_path "compressed/sl2.jpg"%>>
				<img src=<%= asset_path "compressed/sl3.jpg"%>>
				<img src=<%= asset_path "compressed/sl4.jpg"%>>
				<img src=<%= asset_path "compressed/sl5.jpg"%>>
				<img src=<%= asset_path "compressed/sl6.jpg"%>>
				<img src=<%= asset_path "compressed/sl7.jpg"%>>
			</div>
			<a class="arrows left-arrows">
				<i class="fa fa-arrow-circle-left"></i>
			</a>
			<a class="arrows right-arrows">
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
		</div>
</section>